/* Let's write css for multiple screen sizes */

/* 1- small/extra-small screen (Mobile)*/
@media only screen and (max-width: 600px) {
    .box1{
        background-color: aqua;
        color: blue;
        padding: 20px;
    }
}
/* 2- Medium screen (Tablet)*/
@media only screen and (min-width: 600px) {
    .box1{
        background-color: black;
        color: white;
        padding: 20px;
    }
}
/* 3- Large screen (Desktop)*/
@media only screen and (min-width: 768px) {
    .box1{
        background-color: green;
        color: white;
        padding: 20px;
    }
}
/* 4- Extra Large*/
@media only screen and (min-width: 992px) {
    .box1{
        background-color: yellow;
        color: black;
        padding: 20px;
    }
}